{% extends "base.html" %}

{% block site_wrapper %}

<div id="main">
	<a href="#content" class="skip_link">Skip to main content</a>
	<div id="banner">
		<div class="bannerIEPadder">
			<div class="makina">
				<img src="/images/logo-makina.jpg" alt="Logo Makina Corpus" class="bn" />
			</div>
			<img src="/images/logo-polytech.jpg" alt="Logo Polytech" class="bn" />
		</div>
	</div>
	<div id="navigation">
		<div class="navIEPadder"> 
			{% include 'tags/navigation.html' %}
		</div>
	</div>
	<div id="middle">
		<div id="sidebar">
			<div class="sidebarIEPadder">
				{% include "tags/category_list.html" %}
			</div>
		</div>
		<div id="content">
			<a name=”content”></a>
			<div class="contentIEPadder">
				{% block content %}{% endblock %}
			</div>
		</div>
	</div>

	<div id="footer">
		<div class="footerIEPadder">
			&nbsp;
		</div>
	</div>
</div>
{% endblock %}